* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body,
html,
body > div,
.home,
.his {
  width: 100%;
  min-height: 100%;
}
body {
  background: url(../img/bg2.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.btn {
  cursor: pointer;
}
.btn:hover {
  background: #8099dc;
}
.home {
  height: 100%;
}
.home .head {
  height: 118px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home .head > .headCenter {
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  position: relative;
}
.home .head > .headCenter > .logo {
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.home .head > .headCenter > .logo > img {
  height: 100%;
  cursor: pointer;
}
.home .head > .headCenter > .logo > img:hover {
  opacity: 0.9;
}
.home .head > .headCenter > .title {
  font-size: 48px;
  color: #eee;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
}
.home .head > .headCenter > .title p > span:first-child {
  font-size: 45px;
  margin-right: 10px;
}
.home .head > .headCenter > .title p > span:last-child {
  font-size: 30px;
}
.home .head > .headCenter > .title p.subtitle {
  color: #aaa;
}
@media screen and (max-width: 768px) {
  .home .head > .headCenter > .title p > span:first-child {
    font-size: 30px;
    margin-right: 5px;
  }
  .home .head > .headCenter > .title p > span:last-child {
    font-size: 20px;
  }
}
@media screen and (max-width: 468px) {
  .home .head > .headCenter > .title p.subtitle {
    padding-left: 95px;
  }
}
.home .section {
  color: #fff;
  padding: 20px;
  width: 95%;
  max-width: 670px;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 80%;
  margin-bottom: 150px;
}
.home .section > .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.home .section > .form input {
  font-size: 14px;
  display: block;
  width: 220px;
  padding: 3px 5px;
  margin-bottom: 10px;
  height: 33px;
  width: 100%;
}
.home .section > .form input.amount {
  padding-right: 50px;
}
.home .section > .form .addEth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home .section > .form .addEth span {
  border: 1px solid;
  padding: 5px 0;
  border-radius: 5px;
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .section > .form .summitArea {
  margin: 25px 0;
}
.home .section > .form .summitArea .summitBtn {
  font-size: 20px;
  font-weight: bold;
  border: 1.5px solid;
  padding: 3px 5px;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  text-align: center;
  position: relative;
}
.home .section > .info {
  width: calc(100% - 40px);
  line-height: 30px;
  color: #ccc;
}
.home .section .buttons {
  margin: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}
.home .section .buttons span {
  border: 1px solid;
  border-radius: 5px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 20px;
}
.home .section .buttons.one {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .section .searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33px;
}
.home .section .searchBox > input {
  font-size: 14px;
  display: block;
  width: 220px;
  padding: 3px 5px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #fff;
}
.home .section .searchBox > div {
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  border: 1px solid ;
  border-left: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .section .hisList {
  margin-bottom: 30px;
}
.home .section .hisList .listTitle > span {
  font-size: 12px;
  color: #ffa913;
}
.home .section .hisList > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #999;
  color: #999;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}
.home .section .hisList > li > span {
  padding: 3px;
  word-break: break-all;
}
.alertInfo {
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 13px 5px;
  color: #f00;
}
